body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: url("pic.jpg") no-repeat center center;
}

.box {
    width: 300px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #191919;
    text-align: center;
}
h1 {
    color: white;
    font-weight: 500;
}
.name {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition:  1s;
}

.name:focus {
    width: 280px;
    border-color: #2ecc71;
}
.button {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition:  0.5s;
    cursor: pointer;
}
.button:hover {
    background: #2ecc71 ;
}