html {
	height: 100%;
}

body {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: 'Bungee Shade', cursive;
	 background: #ffed94;
}

$size: 20px;

h1 {
	display: flex;
	align-items: center;
	justify-content: center;
	align-content: center;
	text-align: center;
	font-weight: normal;
	width: 100%;
	text-align: center;

	font-size: 16vw;
	background: linear-gradient(
		-45deg,
		#4bc0c8 25%,
		#feac5e 25%,
		#feac5e 50%,
		#4bc0c8 50%,
		#4bc0c8 75%,
		#feac5e 75%,
		#feac5e);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-size: $size $size;
	background-position: 0 0;
	animation: stripes 1s linear infinite;
}

@keyframes stripes {
	100% {
		background-position: $size 0, $size 0, $size 0;
	}
}