.game-cell {
    cursor: pointer;
    border: 1px solid black;
    display: inline-block;
    width: 50px;
    height: 50px;
    font-size: 35px;
    text-align: center;
    margin: 3px;
    color: grey;
    vertical-align: middle;
}

.game-cell[color="color1"]{
    background-color: #4ABDAC;
}

.game-cell[color="color2"]{
    background-color: #FC4A1A;
}

.modal {
  overflow-y:auto;
}