<!DOCTYPE html>
<html lang="en">
<head>
    <title>Risk Multiplayer</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/playerName.scss') }}">
</head>
<body>
<style>
    body {
        background-image: url('/static/images/background.jpg');
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }
</style>
<audio controls>
    <source src="static/music/Carl Orff - O Fortuna _ Carmina Burana.mp3" type="audio/mpeg">
</audio>
<br>
<h1 style="--font-family-monospace: h" data-heading="Slide">{{ player }}</h1>
<br>
<h1 style="--font-family-monospace: h" data-heading="Slide">{{ player }}</h1>
<div class="game-board" id="game-board" data-row-num="{{ row_num }}" data-col-num="{{ col_num }}"
     data-player="{{ player }}"
     data-color="{{ color }}">
    {% for row in range(row_num) %}
        <div>
            {% for col in range(col_num) %}
                <div class="game-cell"
                     data-coordinate-x="{{ col }}"
                     data-coordinate-y="{{ row }}"
                     data-unit-deploy="3"
                     data-owner="None"></div>
            {% endfor %}
        </div>
    {% endfor %}


    <!-- Modal -->
    <div class="modal fade" id="modalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Dice rolls:</h5>
                </div>
                <div class="modal-body">
                    <div class="att_dices">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ModalLong" id="dice-button">
    Show dice rolls
</button>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
<script src="../static/js/script.js" defer></script>

</body>
</html>